<shared-menu></shared-menu>

<router-outlet></router-outlet>

<!-- <h1>{{ title | uppercase }}</h1> -->
<!-- <h1>{{ title | lowercase }}</h1> -->
<!-- <h1>{{ title | titlecase }}</h1> -->
<!-- <h1>{{ title | slice: 5 }}</h1> -->
<!-- <h1>{{ title | slice: 0 }}</h1> -->
<!-- <h1>{{ title | slice: 0:5 }}</h1> -->
<!-- los pipes se pueden concatenar -->
<!-- <h1>{{ title | slice: 0:5 | titlecase }}</h1> -->
<!-- la data permanece inmutable, los pipes solo modifican la visualizacion -->
<!-- <h3>{{ title  }}</h3>  -->

<!-- <button pButton>
  Hola Mundo
</button> -->
<!-- <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button> -->

<!-- <i class="pi pi-check"></i> -->
